#mainDiv{
    border: 1px solid #000;
    width: 700px;
    height: 700px;
    background-color: aquamarine;
    display: flex;
    gap: 10px;
    justify-content: center;
    /* justify-content: space-between; */
    /* justify-content: space-around; */
    /* justify-content: space-evenly; */
    /* align-items: baseline; */
    align-items: center;
    /* align-items: baseline; */
    flex-direction: column;

}
.subdiv{
    border: 1px solid #000;
    width: 40px;
    height: 40px;
    background-color: blueviolet;
    
}
