#mainDiv{
    background-color: white;
    margin: 0px;
    padding: 0px;

}

#NavBar{
    background-color: #fffffff2;
    color: black;
    padding: 10px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0px;

    #links{
        
        display: flex;
        gap: 60px;
        align-items: center;
        margin: auto;
        padding: auto;
        a{
            gap: 10px;
            display: flex;
            align-items: center;
            text-decoration: none;
            color: black;
            font-family: Arial, Helvetica, sans-serif;
        }

    }

    #sign{
        text-decoration: none;
        font-size: 15px;
        color: black;
        margin-right: 20px;
        font-family: Arial, Helvetica, sans-serif;
        
    }
    
    #button{
        padding: 10px 10px;
        border: none;
        color: white;
        background-color:black;
        text-decoration-color:white;
        font-size: 15px;
        border-radius: 10px;
    }
  
}


#heading{
    size: 50px;
  margin-bottom: 15px;
  color: black  ;
     

     
}

#paragraph{
    font-size: 25px;
  color: rgb(138, 126, 126);
  font-weight: normal;
  line-height: 1.5;
  margin-bottom: 25px;
  flex-direction: column;
  display: flex;
   
   
    
}




#formfield{
    margin: 20px 50px;
    text-align: left;
    font-family: Arial, sans-serif;
    font-size: large;
    flex-direction: column;
     width: 600px;
    

    #email{
        color: rgb(41, 40, 40);
        margin: 5px 5px;
        display: flex;

    }

}

    #offerbutton{
        background-color: black;
        color: white;
        padding: 10px;
        border-radius: 10px;
        font-family: Arial, Helvetica, sans-serif;
        
    } 


#disclaimer{
    font-family: Arial, sans-serif;
    font-size: small;
    color: rgb(122, 121, 121);
    text-align: left;
    margin: 20px 50px;

    a{
        color: rgb(122, 121, 121);
    }
}

#Image{
    width: 800px;
    height: 800px;
  border-radius: 10px;
 display: flex;


}

#client{
    align-items: center;
    color: rgb(107, 105, 105);
    justify-content: center;
    padding: auto;

}

    #myIcons{
  text-align: center;
  display:inline;
  padding: 20px;
  align-content: center;
  color: rgb(34, 30, 30);

}

#subDiv{

  display: inline-flexbox;
  flex-direction: column;
  justify-content:space-between;
  align-content: center;
   
}
#subDiv {
    img{
     width: 200px;
      height: 200px;
     gap: 20px;
    }
    
     #Spotify{
       height:200px;
        width:150px;
     }

     #net{
       height:100px;
        width:150px;
     }
    }

    #Skills{
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
    font-size: 22px;

    

    #d1{
        margin-top: 0%;
        padding: auto;
        font-size: 50px;
        
    }
    
    #para{
        font-size: 23px;
        color: rgb(130, 127, 127);
        margin: 0px 90px;
       
    }
}

#d1{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  justify-content: space-between;
  gap: 20px;
  margin: 20px auto;
  
}
#d1 span{
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}
#d1 span img{
   padding: 25px;
  width: 40px;
  height: 40px;
}
#d1 span p{
  color: rgb(172, 168, 168);
  font-size: 23px;
}



    
     
   



