body{
    background-color: blue;
    background-size: 400%;
}

#mainBox{
    background-color: rgb(230, 230, 237);
    height: 399px;
    width: 300px;
    padding: 2%;
    margin: auto;
    border-radius: 10px;
}
#formheading{
    color: rgb(11, 8, 8);
    margin: 30px;
    font-family: serif;
    
}
#fromfield{
    margin: 10px;
    height: auto;
    width: auto;
    lable{
        color: rgb(134, 133, 132);
        font-size: large;
    }   
   
    
}

#rememberMe{
    margin: 20px;
    lable{
        color: rgb(92, 88, 84);
        
    }    
}

#inputfield{
    padding: 10px;
    border-radius: 25px;
    border: 2px solid black;
    outline-color: blueviolet;
}

#forpass{
    color: blue;
}


#controlbutton{
    margin: 20px;
    text-align: center;
   background-color: blue;
    color: rgb(236, 236, 238);
    color: blue;
    height: 40px;
     border-radius: 5px;
    button{
       color: rgb(10, 5, 5);
       background-color: rgb(239, 239, 240);
        padding: 5px;
        margin: 5px;
    }
}

#signupBox{
    margin: 10px;
    text-align: center;
    color: rgb(4, 4, 6);

}
#sign{
    color: blue;
}
