#Bigdaddy{
     border: 1px solid #000;
    width: 700px;
    height: 700px;
    background-color: aquamarine;

}





#mainDiv{
    display: grid;
    grid-template-columns: 100px 100px 110px 150px;
    justify-content: center;
    align-items: end;
    justify-items: center;
    width: fit-content;
    border: 1px solid #000;
    

}
.subdiv{
    border: 1px solid #000;
    width: 40px;
    height: 40px;
    background-color: blueviolet;
    display: flex;
    align-items: center;
    justify-content: center;

    
    
}
